.body__quienesSomos{

    display: flex;


}


.h2__quienesSomos{
    padding: 4% 2%;

}

.flex_Colum {
    
    @extend .flex;
    direction: column;

}

.parrafo__quienesSomos{

    font-size: 1rem; /* Ajusta el tamaño de la fuente según el tamaño raíz */
    line-height: 1.5; /* Espacio entre líneas */
    margin: 1rem; /* Margen alrededor del párrafo */
}