/* grid areas -------------------------------------------------------- */
.grid-container {

    display: grid;

    /* armo las Q de filas y columnas en base a la grid q le paso al template-areas */
    grid-template-rows:  repeat( 4,50vh);  /* 4 filas */
    grid-template-columns: repeat(3,1fr); /* 3 columnas */


    /* areas de grid, sirve para pasar despues la distribucion a las clases*/
    /* como son 4 rows son 4 lienas q defino y como son 3 columnas son 3 palabras por linea */
    grid-template-areas:
    'productos productos productos'
    'productos productos productos'
    'productos productos productos'
    'productos productos productos'
    ;

    gap: 10px;  /* espaciado entre celdas*/
}



.products {
    grid-area: productos;
    border: 1px solid black;

    width: 80%; /* Ancho 80% de su contenedor */
    height: 80%; /* Alto de su contenedor */
    object-fit: contain; /* Ajusta la imagen para q entre completa en su contenedor */

    &:hover{

        width: 100%; /* Ancho fijo */
        height: 100%; /* Altura fija */
    &:hover + p   //le agrego al hover q sume al parrafo para q lo oculte
         { display: none};

    }

}

